@use "reset";
@use "global";
@import "responsive";

$primary-color: pink;
$secondary-color: hsl(333, 80%, 67%);
$primary-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .app-container__info {
    h1,
    h2,
    p {
      text-transform: uppercase;
      font-family: $primary-font;
      display: flex;
      font-size: 2rem;
      padding: 1rem;
      justify-content: center;
      align-items: center;
    }
    .info__divisor--pink {
      height: 3rem;
      // width: auto;
      margin: 2rem 0;
      background-color: pink;
    }
    span {
      color: pink;
      font-weight: 700;
      margin: 0 0.5em;
    }
    h1 {
      font-size: 8rem;
    }
  }
}
